@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --linear-transition-all: all 0.2s linear;
  --transform-scale: scale(1.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.section-padding-x {
  margin-left: 105px;
  margin-right: 105px;
}

.navbar-hover-effect:hover {
  color: #39b54a;
  font-weight: 700;
  border-bottom: 2px solid #f7941d;
  cursor: pointer;
  transition: var(--linear-transition-all);
  transform: var(--transform-scale);
}

.button-border {
  position: relative;
  color: #fff;
}
.button-border:hover {
  transition: var(--linear-transition-all);
  transform: var(--transform-scale);
}
.button-border::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 42px;
  padding: 1px;
  background: linear-gradient(to right, #ff9700, #58f96e);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
