@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --linear-transition-all: all 0.2s linear;
  --transform-scale: scale(1.1);
  --primary-color: #39b54a;
  --secondary-color: #f7941d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.section-margin {
  margin: 100px 105px;
}

.section-margin-x {
  margin-left: 105px;
  margin-right: 105px;
}

.section-margin-y {
  margin-top: 100px;
  margin-bottom: 100px;
}

.transition-all:hover {
  transition: var(--linear-transition-all);
  transform: var(--transform-scale);
}

.navbar-hover-effect:hover {
  color: #39b54a;
  font-weight: 700;
  border-bottom: 2px solid #f7941d;
  cursor: pointer;
  transition: var(--linear-transition-all);
  transform: var(--transform-scale);
}

.button-border {
  position: relative;
  color: #fff;
}
.button-border:hover {
  transition: var(--linear-transition-all);
  transform: var(--transform-scale);
}
.button-border::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 42px;
  padding: 1px;
  background: linear-gradient(to right, #ff9700, #58f96e);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.link:hover {
  transition: var(--linear-transition-all);
  transform: var(--transform-scale);
}

.text-shadow {
  text-shadow: 0px 0px 20px #ff9700;
}

.custom-border {
  position: relative;
  height: 100%;
  min-height: 100%;
}
.custom-border::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 1px;
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.box-filled {
  background: linear-gradient(180deg, #87ff98 0%, #f7941d 83.33%);
}

.button-filled {
  background: linear-gradient(180deg, #87ff98 0%, #f7941d 83.33%);
}

.button-filled:hover {
  transition: var(--linear-transition-all);
  transform: var(--transform-scale);
}

.box-shadow {
  box-shadow: 0px 0px 10px 0px #c9c9c9;
}
/* //! Feature cars */
.feature-card:hover {
  box-shadow: 0px 0px 10px 0px #c9c9c9;
  transition: var(--linear-transition-all);
  transform: scale(1.03);
}
.feature-card .feature-blob {
  display: none;
}
.feature-card:hover .feature-blob {
  display: block;
  overflow: hidden;
}

/* //! slider buttons */

.slick-next::before {
  display: none;
}
.slick-prev::before {
  display: none;
}
